@charset "UTF-8";

html {
    font-family: veranda;
}

.container {
  margin-top: 50px;
}

button {
  margin-top: 15px;
}

label {
  display: none;
}

.desc {
  margin-top: 15px;
}

img {
  max-width: 100%;
}

.not-visible {
  display: none;
}

