{% extends 'base.html' %}
{% block content %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-6 row-cols-md-3 g-3">
      {% for img in apartments.images.all %}
      <div class="col">
        <a href="#" class="pop card shadow-sm">
          <img src="{{ img.img.url }}" width="100%" height="450" alt="" />
        </a>
        <!--<div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Редактировать
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary" href="{{ img.img.url }}">
              Просмотр
            </button>
          </div>
        </div> -->
      </div>
      {% endfor %}
    </div>
    <br>
    <h5 class="card-title">{{ apartments.address }}</h5>
    <h5 class="card-title">{{ apartments.rooms }}</h5>
    <h5 class="card-title">{{ apartments.floor }}</h5>
    <h5 class="card-title">{{ apartments.price }}</h5>
    <p class="card-text">{{ apartments.desc }}</p>
    <br>
    <!--<a type="submit" class="btn btn-sm btn-outline-secondary" href="{#% url 'update' apartments.pk %#}">Редактировать</a>-->
  </div>

  {#% include 'snippets/image_modal.html' %#}
  <!-- <script>
    $(document).ready(function () {
      $(".container").on("click", '#edit', function (e) {
        e.PreventDefault();
        var $this = $(this);
        let address = $this.parents('#ApartmentEditForm').find('h5').eq(0).text
        let rooms = $this.parents('#ApartmentEditForm').find('h5').eq(0).text
        let floor = $this.parents('#ApartmentEditForm').find('h5').eq(0).text
        let price = $this.parents('#ApartmentEditForm').find('h5').eq(0).text
        let desc = $this.parents('#ApartmentEditForm').find('p').text
        $('#ApartmentEditForm').form('show');
        return false

      });
    });
  </script> -->
</div>
{% endblock content %}