{% extends 'base.html' %} {% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <!--<h1 class="fw-light">Album example</h1>-->
      <form class="bg-light p-4 rounded" method="post">
        {% csrf_token %} {{ form }}
        <button class="btn btn-primary my-2" type="submit">
          Получить данные
        </button>
      </form>
    </div>
  </div>
</section>
{% for apartment in apartments_list %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-6 row-cols-md-2 g-3">
      {% for img in apartment.images.all %}
      <div class="col">
        <div class="pop card shadow-sm">
          <img src="{{ img.img.url }}" width="100%" height="450" alt="" />
        </div>
      </div>
      {% endfor %}
    </div>
    <h5 class="card-title">{{ apartment.address }}</h5>
    <h5 class="card-title">{{ apartment.rooms }}</h5>
    <h5 class="card-title">{{ apartment.floor }}</h5>
    <h5 class="card-title">{{ apartment.price }}</h5>
    <p class="card-text">{{ apartment.desc }}</p>
    <div class="btn-group">
      <!--<a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'apartments:update' apartment.id %}">
        Редактировать
      </a>
      <a class="btn btn-sm btn-outline-secondary btn-danger" href="{% url 'apartments:delete' apartment.id %}">
        Удалить
      </a> -->
      <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'apartments:apartment' apartment.pk %}">
        Детали
      </a>
      <!-- <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'apartments:create_pdf' apartment.pk %}"
        target="_blank">
        создать PDF
      </a> -->
    </div>
  </div>
  {% endfor %}
</div>
{#% include 'snippets/image_modal.html' %#}
{% endblock content %}
