{% extends 'base.html' %}
{% block content %}
<div class="album py-5 bg-light">
  {{apartment}}
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-6 row-cols-md-1 g-3">
      {% for img in apartment.images.all %}
      <div class="col">
        <a href="#" class="pop card shadow-sm">
          <img src="{{ img.img.path }}" width="100%" alt="" />
        </a>
        <!--<div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Редактировать
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary" href="{{ img.img.url }}">
              Просмотр
            </button>
          </div>
        </div> -->
      </div>
      {% endfor %}
    </div>
    <br>
    <h5 class="card-title">{{ apartment.address }}</h5>
    <h5 class="card-title">{{ apartment.rooms }}</h5>
    <h5 class="card-title">{{ apartment.floor }}</h5>
    <h5 class="card-title">{{ apartment.price }}</h5>
    <p class="card-text">{{ apartment.desc }}</p>
    <br>
  </div>
</div>
{% endblock content %}