{% extends 'base.html' %}
{% block content %}
  <div class="album py-5 bg-light">
    Ведущий специалист департамента недвижимости:
    Пирогов Максим Олегович
    Контактная информация:
    +7-958-687-86-25
    +7-926-404-99-97
    flat.realty@yandex.ru
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
        {% for image in apartment.images.all %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{image.img.path}}" alt="" />
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
      <h5 class="card-title">{{ apartment.address }}</h5>
      <h5 class="card-title">{{ apartment.rooms }}</h5>
      <h5 class="card-title">{{ apartment.floor }}</h5>
      <h5 class="card-title">{{ apartment.price }}</h5>
      <p class="card-text">{{ apartment.desc }}</p>
      <br>
    </div>
  </div>
{% endblock content %}